<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>bebrach</title>
            {{#if indexStyles}}
            <link rel="stylesheet" href="styles/stylesIndex.css">
            {{/if}}
            {{#if registrationStyles}}
            <link rel="stylesheet" href="styles/stylesReg.css">
            {{/if}}
            {{#if newThreadStyles}}
            <link rel="stylesheet" href="styles/stylesNewThread.css">
            {{/if}}
            {{#if threadStyles}}
            <link rel="stylesheet" href="styles/stylesThread.css">
            {{/if}}
            {{#if threadsStyles}}
            <link rel="stylesheet" href="styles/stylesIndex.css">
            {{/if}}
        <script src="web.js"></script>
    </head>
    <body>
        {{>header}}
        {{{body}}}
    </body>
</html>