<main>
        <section>
        <article>
            <a href="#">1.1.0</a>
            <p>будет добавлено в следующей версии:
                новости
                будет добавлено когда то:
                личный кабинет
                changelog 1.0.2:
                ответы
                пофиксил дату сообщения
                
            </p>
        </article>
        </section>
</main>