<main>
        <section>
        <article>
            <a href="#">1.0.2</a>
            <p>будет добавлено в следующей версии:
                новости
                ответы
                будет добавлено когда то:
                личный кабинет
                changelog 1.0.2:
                добавлена мобильная версия
                
            </p>
        </article>
        </section>
</main>