<main>
        <section>
        <article>
            <a href="#">1.1.1</a>
            <p>будет добавлено в следующей версии: <br>
                новости <br>
                приближение картинок <br>
                несколько картинок <br>
                будет добавлено когда то: <br>
                личный кабинет <br>
                карточка юзера <br>
                changelog 1.1.1: <br>
                пофиксил ответы <br>
                еще раз пофиксил дату сообщения
                
            </p>
        </article>
        </section>
</main>