<main>
    <!--section class="pinned">
        <article>
            <a href="#">ничего здесь не работает</a>
            <p>тестовый макет, я еще не придумал что должно быть на главной.
                все треды находтся в "треды"</p>
        </article>
        <h2 class="treads_category">прикрепленные треды:</h2>
        <article>
            <a href="#">бред</a>
            <p>тред для дебилов и всякой хуйни, пошел нахуй</p>
        </article>
        <article><a href="#">хуй</a></article>
    </section>
    <section class="all">
        <h2 class="treads_category">все треды:</h2>
        <article>
            <a href="#">бред</a>
            <p>тред для дебилов и всякой хуйни, пошел нахуй</p>
        </article>
        <article><a href="#">хуй</a></article>
    </section-->
</main>