<main>
    <section>
        <article>
            <span>регистрация<span>
            <form name="regForm">
                <input type="text" class="input" placeholder="никнейм" name="userName">
                <input type="password" class="input" placeholder="повторите пароль" name="pass1">
                <input type="password" class="input" placeholder="повторите пароль" name="pass2">
                <button type="submit" class="button" onclick="sendRegJSON()">завершить</button>
            </form>
        </article>
    </section>
</main>