@import "global.css";
section article {
    width: 500px;
    height: 90px;
}
section article h2{
margin: 10px;
}
.auth {/*скрыть форму входа при регистрации*/
    visibility: hidden;
}

.input {
    background-color: #ddd;
    border: 2px solid rgb(102, 102, 102);
    border-radius: 10px;
}
section article span {
    font-size: 22px;
    text-decoration: none;
    color: rgb(102, 102, 102)
}